.banner {
  width: 100%;
  height: 450px;
}
.banner-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .banner {
    height: calc(100vh - 56px);
  }
}

.bread {
  height: 30px;
}
.bread-wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 14px;
  background-color: hsl(221, 66%, 26%);
}
.bread .breadcrumb {
  font-size: 12px;
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8.5px;
  padding-right: 8.5px;
}
.catalog__container > .row > .col {
  padding: 0 4.5px !important;
}
.catalog__container .card-title {
  font-size: 14px !important;
  line-height: normal !important;
  margin-bottom: unset !important;
}
.catalog__container .card {
  box-shadow: none !important;
}
.catalog__container .card .card-title {
  font-weight: 500;
}
.catalog__container .card-eye {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 6px 5px 0px 5px;
  border-radius: 50%;
  background-color: #fff;
}
.catalog__container .card-eye i {
  font-size: 1.3em;
  color: #000;
}
.catalog__container .card-sizes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0;
  margin: 0 -5px;
}
.catalog__container .card-sizes button {
  border-radius: 24px;
  border: 1px solid rgba(148, 129, 129, 0.71);
  font-size: 12px;
  font-family: 'Poppins';
  width: 30px;
  height: 25px;
  text-align: center;
  background: transparent;
  margin: 5px;
}
.catalog__container .card-btn {
  background-color: hsl(221, 66%, 26%);
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #fff;
  display: inline-block;
  margin: 5px 0;
}
.catalog__container .card-btn i {
  font-size: 1.1em;
  padding-right: 5px;
  position: relative;
  top: 2px;
}
.catalog__container .card .card-content {
  padding: 0.5em;
  padding-left: 0px;
  padding-right: 0px;
}
.catalog__container .product-swatches__wrapper {
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
}
.catalog__container .swatch {
  margin-bottom: 0.5em;
  text-align: center;
  padding-right: 0.2em;
}
.catalog__container .swatch-text {
  padding: 0.5em;
  padding-left: unset;
  padding-right: unset;
  border-radius: 50%;
  display: block;
  border: 1px solid;
  font-size: 10px;
  font-weight: bolder;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .catalog__container {
    padding-left: 29.5px;
    padding-right: 29.5px;
    margin-left: 5.1px;
    margin-right: 5.1px;
  }
  .catalog__container > .row {
    flex: 1 1 25%;
  }
  .catalog__container > .row > .col {
    padding-left: 11.5px !important;
    padding-right: 11.5px !important;
  }
  .catalog__container-main {
    padding-left: 330px;
  }
}
.product-catalog {
  padding: 10.5px;
}
.product-catalog .owl-carousel {
  position: relative;
}
.product-catalog .owl-carousel .owl-dot {
  width: 5px;
  height: 5px;
  background-color: #999;
  margin: 4px;
  border-radius: 50%;
}
.product-catalog .owl-carousel .owl-dot.active {
  width: 8px;
  height: 8px;
}
.product-catalog .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.checkout-container .order {
  margin-top: 0;
}
.checkout-container .order-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
.checkout-container .order-container {
  display: flex;
  gap: 20px;
}
.checkout-container .order-summary {
  display: flex;
  justify-content: space-between;
}
.checkout-container .order-edit {
  text-align: end;
}
.checkout-container .order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-container .order-body {
  padding: 10px!important;
}
.checkout-container .order-disContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #808080;
  padding: 5px;
  margin: 10px 0;
}
.checkout-container .order-disContainer:focus {
  border: 2px solid #000;
}
.checkout-container .order-disContainer input {
  margin: 0 !important;
  border: none!important;
}
.checkout-container .order-disContainer input:focus {
  border: none!important;
  box-shadow: none!important;
}
.checkout-container .order-disContainer button {
  background-color: hsl(221, 54%, 25%);
  color: #fff;
  border: none;
  padding: 10px 15px;
}
.checkout-container .order-total {
  display: flex;
  justify-content: space-between;
}
.checkout-container .address {
  padding: 0 10.5px;
}
.checkout-container .address select {
  display: block;
  border: 1px solid #85859d;
}
.checkout-container .address select:focus {
  box-shadow: none!important;
  border: 2px solid #000 !important;
}
.checkout-container .address input {
  border: 1px solid #808080 !important;
  padding: 5px!important;
}
.checkout-container .address input:focus {
  box-shadow: none!important;
  border: 2px solid #000 !important;
}
.checkout-container .address label {
  color: #9e9e9e !important;
}
.checkoutnav {
  background-color: hsl(221, 54%, 25%);
}
.checkoutnav-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.checkoutnav-item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}
.checkoutnav-item.active {
  color: #ffffff;
}
.checkoutnav-item:not(:last-child)::after {
  content: '\E5CC';
  color: rgba(255, 255, 255, 0.6);
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}
.small {
  font-size: 11px;
  color: #808080;
}
@media (min-width: 768px) {
  .checkout-container {
    display: flex;
  }
  .checkout-container .order {
    flex: 50%;
    border: none;
    box-shadow: none;
  }
  .checkout-container .order-summary {
    pointer-events: none;
  }
  .checkout-container .order-body {
    display: block!important;
  }
  .checkout-container .address {
    flex: 50%;
  }
}

.filter-filter {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  background-color: hsl(9, 67%, 54%);
  color: #fff;
  padding: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.filter .collapsible li.active i {
  transform: rotate(-180deg);
}
.filter .collapsible li i {
  position: absolute;
  right: 0;
}
.filter .collapsible p {
  line-height: 30px;
}
.filter .collapsible-header {
  font-family: 'Poppins';
  width: 100%;
  display: inline-block;
  position: relative;
}
.filter [type="radio"]:not(:checked) + span,
.filter [type="radio"]:checked + span {
  padding-left: 22px;
  font-size: 0.85rem;
}
.filter [type="radio"]:checked + span:after,
.filter [type="radio"].with-gap:checked + span:after {
  background-color: hsl(221, 54%, 25%);
}
.filter-cont {
  padding: 0 25px!important;
}
.filter .applied {
  margin: 15.5px;
  position: relative;
  border: 2px solid hsl(221, 54%, 25%);
}
.filter .applied-items {
  padding: 10px;
}
.filter .applied-item {
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter .applied-item i {
  font-size: 1.2rem;
}
.filter .applied span {
  position: absolute;
  top: -10px;
  background-color: #fff;
  line-height: 20px;
  left: 10px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .filter {
    transform: translateX(0%) !important;
    top: 95px!important;
  }
  .filter-filter {
    display: none;
  }
}

.flash {
  background-color: hsl(221, 62%, 14%);
  height: 30px;
}
.flash .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.flash .item h6 {
  margin: 0;
  color: #fff;
}

.footer {
  background-color: #fafaf8;
}
.footer-payments img {
  width: 50px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-guarantee-icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-image: url(/assets/icons/css_sprites.png);
}
.footer-guarantee .shipping {
  background-position: -10px -100px;
}
.footer-guarantee .return {
  background-position: -10px -10px;
}
.footer-guarantee .payment {
  background-position: -100px -100px;
}
.footer-guarantee .support {
  background-position: -100px -10px;
}
.footer-copy {
  background-color: hsl(221, 54%, 25%);
  color: #fff;
}
.footer-copy p {
  padding: 10px;
  font-size: 12px;
}
.footer-menu li {
  background-color: hsl(221, 54%, 25%);
  position: relative;
}
.footer-menu li a {
  color: #fff;
}
.footer-menu li.active i {
  transform: rotate(-180deg);
}
.footer-menu .collapsible {
  border: none;
  box-shadow: none;
}
.footer-menu .collapsible-header {
  background-color: inherit;
  color: #fff;
}
.footer-menu .collapsible-header i {
  position: absolute;
  right: 0;
  top: 23px;
  transition: transform 0.5s ease;
}
@media (min-width: 768px) {
  .footer-menu .collapsible {
    display: flex;
  }
  .footer-menu li {
    width: 40%;
  }
  .footer-menu li .collapsible-header {
    border: none;
    padding: 15px 0;
  }
  .footer-menu li .collapsible-body {
    border: none;
    padding: 0;
    display: block;
  }
  .footer-menu li .material-icons {
    display: none;
  }
}

.slide-item {
  height: 300px;
  padding: 0 10px;
  position: relative;
  flex: none;
  width: 100%;
  display: inline-block;
}
.slide-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-title {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0 15px;
}
.slide .owl-nav {
  text-align: end;
}
.slide .owl-prev,
.slide .owl-next {
  font-size: 40px!important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(221, 54%, 25%) !important;
  color: #fff !important;
  margin: 0 10px;
}
.slide .owl-prev span,
.slide .owl-next span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  color: hsl(221, 54%, 25%);
}
h1.white-heading,
h2.white-heading,
h3.white-heading,
h4.white-heading,
h5.white-heading,
h6.white-heading {
  color: #fff;
}
p,
span,
a {
  font-family: 'Poppins', sans-serif;
}
.heading h4 {
  padding: 0 14px;
  color: hsl(221, 54%, 25%);
  text-align: center;
  position: relative;
}
.heading h4::after {
  content: '';
  width: 60%;
  height: 4px;
  transform: skewX(35deg);
  position: absolute;
  right: 14px;
  bottom: -5px;
  background-color: hsl(221, 54%, 25%);
}
.nr-btn {
  color: #fff;
  background-color: hsl(221, 54%, 25%);
  text-decoration: none;
  padding: 10px 15px;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
.center-hr {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  h4 {
    font-size: 3.28rem !important;
  }
  h5 {
    font-size: 2.64rem !important;
  }
  span {
    font-size: 1.3rem;
  }
}
body [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  top: 5px;
}
body [type="checkbox"].filled-in:checked + span:not(.lever):before {
  top: 3px;
  left: 1px;
  width: 5px;
  height: 9px;
}
body [type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid hsl(221, 54%, 25%);
  background-color: hsl(221, 54%, 25%);
}
body [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  width: 15px;
  height: 15px;
}
body [type="checkbox"] + span:not(.lever) {
  padding-left: 22px;
  font-size: 0.85rem;
}

.nav {
  background-color: hsl(221, 54%, 25%);
}
.nav-logo {
  display: flex!important;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.filler {
  padding-top: 56px;
}
@media (min-width: 768px) {
  .nav {
    z-index: 1000;
  }
}
@media (min-width: 601px) {
  .filler {
    padding-top: 64px;
  }
}

.d-block {
  display: block;
}
.product-item {
  width: 100%;
  display: inline-block;
}
.product-img {
  height: 100%;
  object-fit: cover;
}
.product-qty {
  display: inline-block;
  position: relative;
  margin: 10px 5px;
}
.product-qtychange {
  position: absolute;
  width: 30px;
  height: 100%;
  background: none;
  border: 1px solid rgba(148, 129, 129, 0.71);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.product-qtyminus {
  left: 0;
  font-size: 35px;
  padding-bottom: 7px;
  border-right: none;
}
.product-qtyplus {
  right: 0;
  font-size: 25px;
  padding-bottom: 6px;
  border-left: none;
}
.product-qtyno {
  width: 35px!important;
  height: 35px!important;
  border: 1px solid rgba(148, 129, 129, 0.71) !important;
  text-align: center;
  margin: 0 30px!important;
  pointer-events: none;
}
.product input::-webkit-inner-spin-button {
  display: none;
}
.product-buy {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -10.5px;
  display: flex;
  z-index: 100;
}
.product-buy::after {
  content: "";
  position: relative;
}
.product-buy .btn {
  width: 50%;
  border-radius: 0;
}
.product-buy .btn.buy {
  background-color: hsl(9, 67%, 54%);
}
.product-buy .btn.cart {
  background-color: hsl(221, 54%, 25%);
  border-right: 2px solid #fff;
}
.product-colors {
  margin-left: -5px;
  display: flex;
  justify-content: center;
}
.product-colorbtn {
  border-radius: 24px;
  width: 30px;
  height: 25px;
  border: 1px solid rgba(148, 129, 129, 0.71);
  margin: 5px;
  position: relative;
}
.product-colorbtn.active::after {
  content: '';
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  position: absolute;
  border: 2px solid hsl(9, 67%, 54%);
  border-radius: 24px;
}
.product-sizes {
  display: flex;
  justify-content: center;
}
.product-sizes button {
  border-radius: 24px;
  border: 1px solid rgba(148, 129, 129, 0.71);
  font-size: 12px;
  font-family: 'Poppins';
  width: 30px;
  height: 25px;
  text-align: center;
  background: transparent;
  margin: 5px;
}
.product-sizes button:focus {
  background-color: transparent;
}
.product-sizes button.active {
  border: 2px solid hsl(9, 67%, 54%);
}
.product-delivery {
  margin: 15px 0;
  position: relative;
}
.product-delivery button {
  position: absolute;
  right: 5px;
  top: 5px;
}
.product-pincode {
  border: 1px solid #808080 !important;
  margin-bottom: 0!important;
  min-height: 47px;
  padding: 5px!important;
}
.product-pincode:focus {
  border: 2px solid #000 !important;
  box-shadow: none!important;
}
.product-pincodecheck {
  width: 100px;
  background-color: hsl(221, 54%, 25%);
  color: #fff;
  border: navajowhite;
  font-family: 'POPPINS';
  font-size: 16px;
}
.product-relateditem {
  display: inline-block;
  min-height: 210px;
  width: 100%;
}
.product-relateditem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-description {
  column-count: 1;
  padding: 0 10.5px;
}
.product-description p {
  padding: 10px 0;
}
.product-related .card-title {
  color: #000;
}
.p-zero {
  padding: 0!important;
}
@media (min-width: 768px) {
  .product-buy {
    position: relative;
    margin: 0;
    display: flex;
  }
  .product-buy .btn {
    width: 50%;
    padding: 10px 20px;
    height: unset;
    font-size: 18px;
  }
  .product-details {
    position: sticky;
    top: 100px;
    text-align: left!important;
  }
  .product-slider .owl-item {
    width: 50%;
    margin-right: 0!important;
  }
  .product-slider .owl-item.cloned {
    display: none;
  }
  .product-slider .owl-item:nth-child(3n-3) {
    width: 100%;
  }
  .product-sizes {
    justify-content: flex-start;
  }
  .product-sizes button {
    font-size: 15px;
    width: 40px;
    height: 35px;
  }
  .product-colors {
    justify-content: flex-start;
    margin-left: 0;
  }
  .product-colorbtn {
    width: 40px;
    height: 35px;
  }
  .product-qtycont,
  .product-clrcont,
  .product-sizecont {
    margin: 20px 0;
  }
  .product-buy {
    margin: 20px 0;
  }
  .product-delivery {
    margin: 25px 0;
  }
  .product-delivery span {
    font-size: 14px;
  }
}

.range-slider {
  width: 300px;
  height: 100px;
  text-align: center;
  position: relative;
  /*hide the outline behind the border*/
}
.range-slider .rangeValues {
  display: block;
}
.range-slider input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 260px;
  position: absolute;
  left: 5%;
  top: 35%;
}
.range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: hsl(221, 54%, 25%);
  margin-top: -4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.range-slider input[type=range]:focus {
  outline: none;
}
.range-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.range-slider input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.range-slider input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}
.range-slider input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
.range-slider input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
  z-index: -4;
}
.range-slider input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
.range-slider input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
.range-slider input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}
.range-slider input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
.range-slider input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
.range-slider .thumb {
  display: none;
}

.search {
  border: 2px solid transparent;
  border-radius: 50px;
  display: flex;
  margin: 7px 0px;
  width: 46px;
  position: relative;
  transition: width 300ms ease-in-out;
}
.search:focus-within {
  width: 230px;
  border: 2px solid #fff;
}
.search:focus-within .search-btn {
  background-color: hsl(221, 62%, 14%);
}
.search:focus-within .search-bar {
  opacity: 1;
}
.search-bar {
  flex: 1;
  margin: 0!important;
  border: none!important;
  padding: 5px!important;
  box-shadow: none!important;
  position: absolute;
  opacity: 0;
}
.search-btn {
  border: none;
  background: none;
  color: #fff;
  border-radius: 50%;
  margin-left: auto;
}
.search-btn i {
  width: 40px!important;
  height: 40px!important;
  line-height: 40px!important;
}

.tabs.tabs-custom .tab a.active,
.tabs.tabs-custom .tab a:focus.active,
.tabs.tabs-custom .tab a:focus,
.tabs.tabs-custom .tab a:hover {
  background-color: hsl(221, 54%, 25%);
  color: #fff;
}
.tabs.tabs-custom .tab a {
  color: #000;
  text-overflow: initial;
}
.tabs.tabs-custom .indicator {
  background-color: hsl(9, 67%, 54%);
  height: 3px;
}
