* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Roboto', sans-serif;
}
:root {
  --primary: #3B0202;
  --secondary: #6E3131;
  --white: #fff;
  --accent: #FB565F;
  --neutral-one: #FFE4E1;
  --neutral-two: #F8F8F8;
  --font-color: #424242;
  --font-color-lt: #FFE4E1;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body input {
  font-family: 'Roboto', sans-serif;
  font-size: 13px!important;
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  color: var(--primary);
}
h1 {
  font-size: 32pt!important;
}
h2 {
  font-size: 28pt!important;
}
h3 {
  font-size: 24pt!important;
}
h4 {
  font-size: 20pt!important;
}
h5 {
  font-size: 16pt!important;
}
p,
span,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}
@media (max-width: 768px) {
  h1 {
    font-size: 24pt!important;
  }
  h2 {
    font-size: 20pt!important;
  }
  h4 {
    font-size: 16pt!important;
  }
  h5 {
    font-size: 14pt!important;
  }
}
.heading h4 {
  padding: 0 14px;
  color: var(--font-color);
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
.nr-btn {
  color: var(--white);
  background-color: var(--primary);
  text-decoration: none;
  padding: 10px 15px;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  display: inline-block;
}
.center-hr {
  display: flex;
  justify-content: center;
}
.d-flex {
  display: flex;
}
body [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  top: 5px;
}
body [type="checkbox"].filled-in:checked + span:not(.lever):before {
  top: 3px;
  left: 1px;
  width: 5px;
  height: 9px;
}
body [type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
}
body [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  width: 15px;
  height: 15px;
}
body [type="checkbox"] + span:not(.lever) {
  padding-left: 22px;
  font-size: 0.85rem;
}
.p-fixed {
  position: fixed;
}
.nr-slider .owl-nav {
  padding: 15px 20px;
  width: 100%;
  text-align: end;
}
.nr-slider .owl-prev,
.nr-slider .owl-next {
  font-size: 35px!important;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.nr-slider .owl-prev span,
.nr-slider .owl-next span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  color: var(--font-color) !important;
  background-color: var(--font-color-lt);
  border-radius: 50%;
}
.card-content {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 15px;
}
.card-content .product-title {
  display: block;
  color: #000;
  font-size: 16px;
}
.card-content .product-price {
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 768px) {
  span {
    font-size: 1.3rem;
  }
  .nr-slider .owl-prev span,
  .nr-slider .owl-next span {
    font-size: 40px!important;
    width: 40px;
    height: 40px;
  }
  .small {
    font-size: 15px;
  }
  p {
    font-size: 14px;
  }
  label {
    font-size: 1rem;
  }
}


.banner {
  width: 100%;
  height: 450px;
  position: relative;
}
.banner-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-content {
  position: absolute;
  padding: 30px 0;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  text-align: center;
  max-width: 90vw;
  width: fit-content;
}
.banner-content-main {
  background-color: var(--secondary);
  padding: 20px 10px;
  position: relative;
}
.banner-content-main p {
  font-size: 18px;
  letter-spacing: 15px;
  padding-left: 10px;
  color: var(--white);
}
.banner-content-main h1 {
  margin: 0;
  font-size: 28pt!important;
  letter-spacing: 15px;
  color: var(--white);
}
.banner-content-main::after {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border: 2px solid var(--secondary);
}
.banner-content-sub h1 {
  color: var(--white);
}
.fade-scaleIn-banner img {
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1s ease,
            transform 1s ease;
}
.fade-scaleIn-banner.animate img {
  opacity: 1;
  transform: scale(1);
}
.equal {
  display: flex;
  flex-wrap: wrap;
}
.equal picture {
  width: 100%;
}
.equal > div {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;
  background-color: var(--neutral-one);
}
.equal > div h5 {
  font-family: 'Roboto', sans-serif;
}
.equal > div .nr-btn {
  margin: 20px;
}
@media (min-width: 768px) {
  .banner {
    height: calc(100vh - 56px);
  }
  .banner-content {
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
  }
  .banner-content p {
    font-size: 24px;
  }
  .banner-content h1 {
    font-size: 40pt!important;
  }
  .equal picture,
  .equal > div {
    width: 50%;
  }
  .equal picture p,
  .equal > div p {
    font-size: 18px!important;
  }
  .equal.opp picture {
    order: 2;
    max-height: 100vh;
  }
  .equal.opp > div {
    order: 1;
  }
}

.bread {
  height: 30px;
  position: fixed;
  top: 56px;
  z-index: 997;
}
.bread-wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 14px;
  background-color: var(--secondary);
}
.bread .breadcrumb {
  font-size: 13px;
  color: var(--white) !important;
}
.bread .breadcrumb::before {
  color: inherit;
}
@media (min-width: 768px) {
  .bread {
    top: 64px;
  }
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.catalog__container > .row > .col {
  padding: 0 4.5px !important;
}
.catalog__container .card-title {
  font-size: 14px !important;
  line-height: normal !important;
  margin-bottom: unset !important;
}
.catalog__container .card {
  box-shadow: none !important;
}
.catalog__container .card .card-title {
  font-weight: 500;
}
.catalog__container .card-eye {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 6px 5px 0px 5px;
  border-radius: 50%;
  background-color: var(--white);
}
.catalog__container .card-eye i {
  font-size: 1.3em;
  color: #000;
}
.catalog__container .card-sizes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0;
  margin: 0 -5px;
}
.catalog__container .card-sizes button {
  border-radius: 24px;
  border: 1px solid rgba(148, 129, 129, 0.71);
  font-size: 12px;
  font-family: 'Poppins';
  width: 30px;
  height: 25px;
  text-align: center;
  background: transparent;
  margin: 5px;
}
.catalog__container .card-btn {
  background-color: hsl(221, 66%, 26%);
  text-align: center;
  padding: 10px;
  width: 100%;
  color: var(--white);
  display: inline-block;
  margin: 5px 0;
}
.catalog__container .card-btn i {
  font-size: 1.1em;
  padding-right: 5px;
  position: relative;
  top: 2px;
}
.catalog__container .card .card-content {
  padding: 0.5em;
  padding-left: 0px;
  padding-right: 0px;
}
.catalog__container .product-swatches__wrapper {
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
}
.catalog__container .swatch {
  margin-bottom: 0.5em;
  text-align: center;
  padding-right: 0.2em;
}
.catalog__container .swatch-text {
  padding: 0.5em;
  padding-left: unset;
  padding-right: unset;
  border-radius: 50%;
  display: block;
  border: 1px solid;
  font-size: 10px;
  font-weight: bolder;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .catalog__container {
    padding-left: 29.5px;
    padding-right: 29.5px;
    margin-left: 5.1px;
    margin-right: 5.1px;
  }
  .catalog__container > .row {
    flex: 1 1 25%;
  }
  .catalog__container > .row > .col {
    padding-left: 11.5px !important;
    padding-right: 11.5px !important;
  }
  .catalog__container-main {
    padding-left: 330px;
  }
}
.product-catalog {
  padding: 10.5px;
  width: 100%;
  position: relative;
}
.product-catalog_btn {
  color: var(--font-color);
  background-color: var(--white);
}
.product-catalog_carttrigger {
  position: absolute;
  top: 25px;
  z-index: 1;
  right: 11px;
  background-color: var(--primary);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  cursor: pointer;
  width: 35px;
  height: 30px;
  transition: width 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.product-catalog_carttrigger span {
  color: var(--white);
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 0.2s;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  width: 88px;
}
.product-catalog_carttrigger:hover {
  width: 155px;
}
.product-catalog_carttrigger:hover span {
  opacity: 1;
  width: 88px;
}
.product-catalog_carttrigger i.small {
  color: var(--white);
  font-size: 18px;
  padding: 10px 12px;
  pointer-events: none;
}
.product-catalog_carttrigger.active {
  opacity: 0;
}
.product-catalog_close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.product-catalog_close i {
  color: var(--white);
}
.product-catalog_cart {
  position: absolute;
  opacity: 0;
  top: 10.5px;
  bottom: 101px;
  left: 10.5px;
  right: 10.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease;
  z-index: -1;
}
.product-catalog_cart.active {
  z-index: 2;
  opacity: 1;
}
.product-catalog_sizes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-catalog_size {
  background: radial-gradient(rgba(0, 0, 0, 0.6), transparent);
  color: var(--white);
  font-family: 'Oswald';
  font-size: 17px;
  border: 1px solid var(--white);
  padding: 5px 15px;
  margin: 10px;
}
.product-catalog .owl-carousel {
  position: relative;
}
.product-catalog .owl-carousel .item {
  position: relative;
}
.product-catalog .owl-carousel .owl-dot {
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  margin: 4px;
  border-radius: 50%;
}
.product-catalog .owl-carousel .owl-dot.active {
  width: 8px;
  height: 8px;
}
.product-catalog .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.product-cont {
  display: flex;
  flex-wrap: wrap;
}
.product-cont.m-50 .product-catalog {
  width: 50%;
}
@media (min-width: 768px) {
  .product-cont .product-catalog {
    width: 33.33%;
  }
}
@media (max-width: 768px) {
  .catalog__container-slider.catalog__container {
    padding: 0;
    overflow-x: auto;
  }
  .catalog__container-slider.catalog__container .catalog__container-row {
    display: flex;
  }
  .catalog__container-slider.catalog__container .catalog__container-item {
    width: 55vw;
    flex: none;
  }
  .catalog__container-slider.catalog__container .catalog__container-view {
    width: 30vw!important;
    flex: none;
    align-items: center;
  }
}

.checkout-container .order {
  margin-top: 0;
}
.checkout-container .order-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
.checkout-container .order-acctitle {
  display: flex;
  align-items: center;
}
.checkout-container .order-acctitle i {
  transition: transform 0.5s ease;
}
.checkout-container .order .active .order-acctitle i {
  transform: rotate(-180deg);
}
.checkout-container .order-container {
  display: flex;
  gap: 20px;
}
.checkout-container .order-summary {
  display: flex;
  justify-content: space-between;
}
.checkout-container .order-edit {
  text-align: end;
}
.checkout-container .order-edit button {
  color: var(--primary);
  font-size: 18px;
  border: none;
  background: none;
}
.checkout-container .order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-container .order-body {
  padding: 10px!important;
}
.checkout-container .order-disContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-one);
  padding: 5px 15px;
  margin: 10px 0;
  max-width: 300px;
}
.checkout-container .order-disContainer input {
  margin: 0 !important;
  border: none!important;
  color: var(--font-color);
}
.checkout-container .order-disContainer input:focus {
  border: none!important;
  box-shadow: none!important;
}
.checkout-container .order-disContainer input::placeholder {
  color: inherit;
  opacity: 0.8;
}
.checkout-container .order-disContainer button {
  color: var(--primary);
  font-size: 18px;
  opacity: 0.5;
  border: none;
}
.checkout-container .order-total {
  display: flex;
  justify-content: space-between;
}
.checkout-container .address {
  padding: 0 10.5px;
}
.checkout-container .address select {
  display: block;
  background-color: var(--neutral-one) !important;
  margin-bottom: 10px;
  color: var(--font-color);
  opacity: 0.8;
  font-style: italic;
}
.checkout-container .address select:focus {
  box-shadow: none!important;
  border: none!important;
}
.checkout-container .address input {
  border: none!important;
  padding: 5px!important;
  padding: 5px 15px;
  background-color: var(--neutral-one) !important;
  color: var(--font-color);
}
.checkout-container .address input:focus {
  box-shadow: none!important;
}
.checkout-container .address input::placeholder {
  color: inherit;
  opacity: 0.8;
}
.checkout-container .address label {
  color: #9e9e9e !important;
}
.checkout-container .address .nr-btn {
  margin: 15px 0;
}
.checkoutnav {
  background-color: #fff;
  box-shadow: none!important;
}
.checkoutnav-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 25px;
  display: flex;
}
.checkoutnav-item {
  color: var(--font-color);
  font-weight: bold;
  opacity: 0.5;
  font-size: 13px;
  margin: 0 5px;
}
.checkoutnav-item:not(:last-child)::after {
  content: '\f054';
  font-family: 'FontAwesome';
  margin: 0 15px;
}
.checkoutnav-item.active {
  opacity: 1;
}
.small {
  font-size: 11px;
  color: #808080;
}
@media (min-width: 768px) {
  .checkout-container {
    display: flex;
    padding: 30px;
    gap: 30px;
  }
  .checkout-container .order {
    flex: 50%;
    border: none;
    box-shadow: none;
  }
  .checkout-container .order-acctitle i {
    display: none;
  }
  .checkout-container .order-summary {
    pointer-events: none;
  }
  .checkout-container .order-body {
    display: block!important;
  }
  .checkout-container .address {
    flex: 50%;
  }
}

.filter-clr::after {
  background-color: var(--color) !important;
}
.filter-filter {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.filter .collapsible li.active i {
  transform: rotate(-180deg);
}
.filter .collapsible li i {
  position: absolute;
  right: 0;
}
.filter .collapsible p {
  line-height: 30px;
}
.filter .collapsible-header {
  font-family: 'Poppins';
  width: 100%;
  display: inline-block;
  position: relative;
}
.filter [type="radio"]:not(:checked) + span,
.filter [type="radio"]:checked + span {
  padding-left: 22px;
  font-size: 0.85rem;
}
.filter [type="radio"]:checked + span:after,
.filter [type="radio"].with-gap:checked + span:after {
  background-color: var(--primary);
}
.filter-cont {
  padding: 0 25px!important;
}
.filter .applied {
  margin: 15.5px;
  position: relative;
  border: 2px solid var(--primary);
}
.filter .applied span {
  position: absolute;
  top: -10px;
  background-color: var(--white);
  line-height: 20px;
  left: 10px;
  font-weight: bold;
}
.filter .applied-container {
  padding: 8px;
}
.filter .applied .chip {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.7);
}
@media (min-width: 768px) {
  .main-container {
    display: flex;
  }
  .main-container .filter {
    transform: translateX(0%) !important;
    position: sticky;
    top: 95px!important;
    height: 100vh;
    z-index: 996;
    box-shadow: none;
  }
  .main-container .filter-filter {
    display: none;
  }
  .main-container .product-cont {
    width: calc(100vw + 45px);
    margin-left: auto;
  }
}

.flash {
  background-color: var(--secondary);
  height: 30px;
}
.flash .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.flash .item h6 {
  margin: 0;
  color: var(--white);
}

.footer-social i {
  color: var(--primary);
  background-color: #acaaaa;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer-newsletter p {
  color: var(--font-color-lt);
  font-size: 13px;
}
.footer-newsletter_btn {
  background: var(--secondary);
  display: flex;
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
}
.footer-newsletter_btn input {
  border: none!important;
  box-shadow: none!important;
  margin: 0!important ;
}
.footer-newsletter_btn button {
  background: none;
  border: none;
  opacity: 0.5;
  color: var(--white);
  font-size: 20px;
}
.footer-payments {
  padding: 10.5px;
}
.footer-payments img {
  width: 50px;
  margin: 0 30px;
  filter: grayscale(1);
  opacity: 0.5;
}
.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-guarantee {
  max-width: 1200px;
}
.footer-guarantee .col {
  padding: 20px 0.75rem !important;
}
.footer-guarantee h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
}
.footer-guarantee p {
  font-size: 12px;
}
.footer-guarantee i {
  font-size: 30px;
  opacity: 0.3;
}
.footer-copy {
  background-color: hsl(221, 54%, 25%);
  color: var(--white);
}
.footer-copy p {
  padding: 10px;
  font-size: 12px;
}
.footer-menu-brand {
  padding-top: 15px;
}
.footer-menu-brand h3 {
  color: var(--white);
  margin-top: 15px;
  margin-bottom: 30px;
}
.footer-menu-brand p {
  color: var(--font-color-lt);
  font-size: 13px;
}
.footer-menu .collapsible-header h6 {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.footer-menu .collapsible-header:focus {
  background-color: var(--primary);
}
.footer-menu li {
  background-color: var(--primary);
  position: relative;
}
.footer-menu li a {
  color: var(--font-color-lt);
  font-size: 13px;
}
.footer-menu li.active .collapsible-header > i {
  transform: rotate(-180deg);
}
.footer-menu .collapsible {
  border: none;
  box-shadow: none;
}
.footer-menu .collapsible-header {
  background-color: inherit;
  color: var(--white);
}
.footer-menu .collapsible-header i {
  position: absolute;
  right: 0;
  top: 23px;
  transition: transform 0.5s ease;
}
@media (min-width: 768px) {
  .footer-newsletters {
    max-width: 380px;
  }
  .footer-payments {
    padding: 30px;
  }
  .footer-menu {
    padding: 30px;
    background-color: var(--primary);
  }
  .footer-menu .collapsible {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  .footer-menu li .collapsible-header {
    border: none;
    padding: 15px 0;
  }
  .footer-menu li .collapsible-body {
    border: none;
    padding: 0;
    display: block;
  }
  .footer-menu li .material-icons {
    display: none;
  }
}

.slide-item {
  margin: 0 10px;
  position: relative;
  flex: none;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.slide-item:hover img {
  transform: scale(1.1);
}
.slide-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.slide-title {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: var(--white);
  width: 100%;
  text-align: center;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav {
  background-color: var(--primary);
}
.nav-logo {
  display: flex!important;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nav-logo h4 {
  color: var(--white);
  padding: 0 20px;
  margin: 0;
}
.nav .cart-trigger {
  margin: 0;
}
.collapsible-body > .collapsible {
  padding-left: 15px;
}
.collapsible-header {
  font-weight: 500;
}
.collapsible-item {
  position: relative;
}
.collapsible-item.active > .collapsible-header .material-icons {
  transform: rotate(-180deg);
}
.collapsible-item .material-icons {
  position: absolute;
  right: 0;
  transition: transform 0.5s ease;
}
.filler {
  padding-top: 56px;
}
.mega-body {
  position: absolute;
}
.cart-checkout {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 100%;
}
.cart-checkout .nr-btn {
  width: 100%;
  font-size: 20px;
}
.cart-items {
  padding-right: 22px;
}
.cart-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid var(--neutral-one);
  padding: 10px 5px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
}
.cart-item p {
  line-height: 1;
}
.cart-item .product-qty {
  line-height: 1;
}
.cart-img {
  display: inherit;
}
.cart-del i.small {
  font-size: 1.5rem;
}
.cart-total {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--secondary);
  font-weight: bold;
}
.cart-total span {
  color: var(--white);
}
.menu {
  position: relative;
}
.mega {
  position: absolute;
  top: 65px;
  background-color: var(--white);
  color: #000;
  left: 0;
  right: 0;
  display: none;
}
.mega-menu {
  margin: 30px 15px 15px 15px;
  padding-top: 30px;
  border: 2px solid var(--primary);
  position: relative;
}
.mega-menu h4 {
  position: absolute;
  top: -40px;
  left: 20px;
  background-color: var(--white);
}
.mega-items {
  display: flex;
  flex-wrap: wrap;
}
.mega-items > a {
  padding: 0;
}
.mega-items li a {
  color: #000;
}
.mega-items p {
  line-height: 50px;
}
.mega-subcat {
  display: flex;
  flex-direction: column;
  line-height: 50px;
}
.mega-related {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.mega-related a {
  line-height: 1;
  padding: 10px;
}
.mega-related-img {
  max-width: 150px;
}
.mega-related-heading {
  width: 100%;
  padding: 10px;
  line-height: 1;
}
@media (min-width: 768px) {
  .nav {
    z-index: 1000;
  }
  .sidenav.cart {
    width: 400px;
  }
  .cart-items {
    padding-right: 0;
  }
}
@media (min-width: 601px) {
  .filler {
    padding-top: 64px;
  }
}

.details {
  position: relative;
}
.details-policy {
  padding: 35px!important;
  background-color: #e4e4e4;
  position: sticky;
  top: 0;
}
.details-policies {
  list-style-type: disc!important;
  padding-left: 25px!important;
}
.details-policies li {
  list-style-type: disc!important;
}
.returns,
.orders {
  max-width: 1250px;
  margin: auto;
}
.returns li,
.orders li {
  padding: 20px 10px;
}
.returns .chip,
.orders .chip {
  line-height: 1.5;
  height: 20px;
  margin: 0;
}
.returns .orders-middle,
.orders .orders-middle {
  border-bottom: 1px solid var(--primary);
}
.orders {
  max-width: 1250px;
  margin: auto;
}
.orders-tab {
  max-width: 1300px;
  margin: auto;
}
.orders-top,
.orders-bottom {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: var(--neutral-one);
  border: 1px solid var(--primary);
}
.orders-detail-cont {
  display: flex;
  gap: 40px;
}
.orders-middle {
  display: flex;
  border: 1px solid var(--primary);
  border-top: none;
  border-bottom: none;
  padding: 15px 25px;
  flex-direction: column;
  justify-content: space-between;
}
.orders-info {
  font-size: 12px;
  color: #000;
}
.orders-info-val {
  font-size: 12px;
  font-weight: bold;
  color: var(--font-color);
}
.orders-img {
  width: 100px;
  height: 125px;
}
.orders-title {
  display: inline;
  font-size: 14px;
}
.orders .chip {
  line-height: 1.5;
  height: 20px;
  margin: 0;
}
.orders-options {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.orders-options button {
  font-size: 12px;
  color: var(--white);
  font-weight: 500;
  background-color: var(--secondary);
  border: none;
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
  display: block;
}
.orders-options button:first-child {
  color: var(--white);
  background-color: var(--primary);
}
.orders-cont {
  display: flex;
  max-width: 650px;
  gap: 10px;
}
.orders-details {
  margin: 12px 0;
}
.orders-details span {
  font-size: 12px;
  color: #000;
  padding-right: 20px;
}
.orders-product-details p {
  font-size: 14px;
  color: #000;
}
.orders-bottom {
  font-size: 12px;
}
.orders-bottom span {
  font-size: 12px;
}
.orders-id {
  font-size: 12px;
}
@media (min-width: 768px) {
  .orders-middle {
    flex-direction: row;
  }
  .orders-options {
    flex-direction: column;
    justify-content: start;
  }
  .orders-title {
    display: inline;
    font-size: 16px;
  }
  .orders .chip {
    margin: 0 10px;
  }
  .orders-cont {
    gap: 30px;
  }
  .details-policy {
    height: calc(100vh - 64px);
    top: 64px;
  }
}

.d-block {
  display: block;
}
.product-slider .owl-dots {
  text-align: center;
}
.product-slider .owl-dot {
  background-color: var(--primary) !important;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 5px;
}
.product-slider .owl-dot.active {
  width: 7px;
  height: 7px;
}
.product-details span {
  font-size: 13px;
  line-height: 40px;
}
.product-details_container {
  margin: 25px 0;
  max-width: 600px;
}
.product-maintitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.product-maintitle i {
  font-size: 20px;
}
.product-delivery_input {
  margin-right: auto;
  margin-left: initial;
  background-color: var(--neutral-one);
  width: 230px;
}
.product-delivery_input span {
  font-size: 14px;
}
.product-delivery {
  margin: 15px 0;
}
.product-delivery span {
  font-size: 16px;
}
.product-delivery_input {
  position: relative;
  max-width: 400px;
  margin: auto;
}
.product-delivery_input button {
  position: absolute;
  right: 5px;
  top: 50%;
  border: none;
  transform: translateY(-50%);
}
.product-delivery_input button i {
  font-size: 20px;
  opacity: 0.5;
}
.product-item {
  width: 100%;
  display: inline-block;
}
.product-img {
  height: 100%;
  object-fit: cover;
}
.product-qty {
  display: inline-block;
  position: relative;
  margin: 10px 0;
}
.product-qtychange {
  position: absolute;
  width: 30px;
  height: 100%;
  background: none;
  border: 1px solid rgba(148, 129, 129, 0.71);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.product-qtyminus {
  left: 0;
  font-size: 35px;
  padding-bottom: 7px;
  border-right: none;
}
.product-qtyplus {
  right: 0;
  font-size: 25px;
  padding-bottom: 6px;
  border-left: none;
}
.product-qtyno {
  width: 35px!important;
  height: 35px!important;
  border: 1px solid rgba(148, 129, 129, 0.71) !important;
  border-left: none!important;
  border-right: none!important;
  text-align: center;
  margin: 0 30px!important;
  pointer-events: none;
}
.product input::-webkit-inner-spin-button {
  display: none;
}
.product-buy {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -10.5px;
  display: flex;
  z-index: 100;
}
.product-buy::after {
  content: "";
  position: relative;
}
.product-buy .btn {
  width: 50%;
  border-radius: 0;
}
.product-buy .btn.buy {
  background-color: var(--accent);
}
.product-buy .btn.cart {
  background-color: var(--primary);
  border-right: 2px solid var(--white);
}
.product-colors {
  margin-left: -5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 10px;
}
.product-colorbtn {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(148, 129, 129, 0.71);
  border-radius: 50%;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.product-colorbtn:first-child {
  margin-left: 0;
}
.product-colorbtn::after {
  content: '';
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  position: absolute;
  border: 2px solid var(--font-color-lt);
  border-radius: 50%;
  display: none;
}
.product-colorbtn.active::after {
  display: block;
}
.product-sizes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.product-sizes button {
  border: none;
  font-size: 12px;
  cursor: pointer;
  background: transparent;
  margin: 5px;
  padding: 15px 17px;
  background-color: var(--neutral-one);
  color: var(--font-color);
  font-weight: 500;
}
.product-sizes button:first-child {
  margin-left: 0;
}
.product-sizes button:focus {
  background-color: transparent;
}
.product-sizes button.active {
  background-color: var(--font-color-lt);
  color: var(--white);
}
.product-sizes-chart {
  background: none;
  border-radius: 50%;
  border: 2px solid var(--font-color);
  padding: 5px 8px!important;
  height: 25px;
  color: var(--font-color);
}
.product-pincode {
  border: none!important;
  margin-bottom: 0!important;
  min-height: 47px;
  padding: 5px!important;
}
.product-pincode:focus {
  border: none!important;
  box-shadow: none!important;
}
.product-pincodecheck {
  width: 100px;
  background-color: hsl(221, 54%, 25%);
  color: var(--white);
  border: navajowhite;
  font-family: 'POPPINS';
  font-size: 16px;
}
.product-related {
  margin-bottom: 20px;
}
.product-related .card-content {
  padding-bottom: 0;
}
.product-relateditem {
  display: inline-block;
  min-height: 210px;
  width: 100%;
}
.product-relateditem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-desc {
  margin: 30px!important;
  box-shadow: none!important;
  border: none!important;
}
.product-desc > li {
  border-bottom: 1px solid var(--neutral-one);
}
.product-desc .collapsible-header {
  font-size: 18px;
  font-weight: bold;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
}
.product-discount {
  padding-bottom: 36px;
}
.product-discount ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.product-discount li {
  box-shadow: 0 0 0 10px var(--white), 0 0 0 12px #CFCFCF;
  margin: 15px;
  padding: 10px;
  min-width: 200px;
  text-align: center;
  min-height: 95px;
}
.product-discount li h3 {
  margin: 0;
}
.product-discount li:nth-child(odd) {
  background-color: var(--neutral-one);
}
.product-discount li:nth-child(even) {
  background-color: #F9F5E8;
}
.product-details_mob .collapsible-header {
  color: hsl(221, 54%, 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-details_mob .collapsible-header i {
  transition: transform 0.5s ease;
}
.product-details_mob .active .collapsible-header i {
  transform: rotate(-180deg);
}
.product-details_mob .collapsible-body {
  padding-right: 15px;
}
.product-related .card-title {
  color: #000;
}
.p-zero {
  padding: 0!important;
}
@media (min-width: 768px) {
  .product-maintitle {
    justify-content: space-between;
    gap: 0;
  }
  .product-buy {
    position: relative;
    margin: 0;
    display: flex;
    gap: 10px;
  }
  .product-buy .btn {
    padding: 10px 20px;
    height: unset;
    font-size: 18px;
  }
  .product-buy .btn.cart {
    border-right: none;
  }
  .product-details {
    position: sticky;
    top: 100px;
    text-align: left!important;
    max-width: 700px;
  }
  .product-slider .owl-item {
    width: 50%;
    margin-right: 0!important;
  }
  .product-slider .owl-item.cloned {
    display: none;
  }
  .product-slider .owl-item:nth-child(3n-3) {
    width: 100%;
  }
  .product-slider .owl-stage {
    padding-left: 0!important;
  }
  .product-slider .owl-dots {
    display: none;
  }
  .product-options {
    flex-direction: row;
  }
  .product-sizes {
    justify-content: flex-start;
  }
  .product-colors {
    justify-content: flex-start;
    margin-left: 0;
  }
  .product-qtycont,
  .product-clrcont,
  .product-sizecont {
    margin: 10px 0;
  }
  .product-buy {
    margin: 20px 0;
  }
  .product-description {
    padding: 30px;
    margin: 40px;
  }
  .product-description h5 {
    top: -42px;
  }
  .product-discount ul {
    justify-content: initial;
  }
}

.range-slider {
  width: 300px;
  height: 100px;
  text-align: center;
  position: relative;
  /*hide the outline behind the border*/
}
.range-slider .rangeValues {
  display: block;
}
.range-slider input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 260px;
  position: absolute;
  left: 5%;
  top: 35%;
}
.range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary);
  margin-top: -4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.range-slider input[type=range]:focus {
  outline: none;
}
.range-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.range-slider input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
.range-slider input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}
.range-slider input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
.range-slider input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
  z-index: -4;
}
.range-slider input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
.range-slider input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
.range-slider input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}
.range-slider input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
.range-slider input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
.range-slider .thumb {
  display: none;
}

.reviews-slider {
  max-width: 1200px;
  margin: auto;
}
.reviews-product {
  margin: 10px 30px;
}
.reviews-product .reviews-stars {
  --star-background: var(--accent);
  opacity: 1;
}
.reviews-product li {
  padding: 15px 0;
  border-bottom: 1px solid var(--neutral-one);
}
.reviews-count {
  margin-bottom: 15px;
}
.reviews-review-title {
  font-size: 14px;
}
.reviews-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-cont span {
  font-size: 14px;
}
.reviews-user {
  border-radius: 50%;
  background-color: var(--neutral-one);
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--font-color);
}
.reviews-percent {
  width: 215px;
  height: 25px;
  border: 1px solid var(--neutral-one);
}
.reviews-percent div {
  background-color: var(--accent);
  width: var(--percent);
  height: 100%;
}
.reviews-stars {
  --star-size: 25px;
  --star-color: var(--white);
  --star-background: var(--primary);
  opacity: 0.5;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.reviews-stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reviews .item {
  text-align: center;
}

.search {
  border: 2px solid transparent;
  border-radius: 50px;
  display: flex;
  margin: 7px 0px;
  width: 46px;
  position: relative;
  transition: width 300ms ease-in-out;
}
.search:focus-within {
  width: 230px;
  border: 2px solid var(--white);
}
.search:focus-within .search-btn {
  background-color: hsl(221, 62%, 14%);
}
.search:focus-within .search-bar {
  opacity: 1;
}
.search-bar {
  flex: 1;
  margin: 0!important;
  border: none!important;
  padding: 5px!important;
  box-shadow: none!important;
  position: absolute;
  opacity: 0;
}
.search-btn {
  border: none;
  background: none;
  color: var(--white);
  border-radius: 50%;
  margin-left: auto;
}
.search-btn i {
  width: 40px!important;
  height: 40px!important;
  line-height: 40px!important;
}
@media (min-width: 768px) {
  .search {
    margin-top: 10px;
  }
}

.tabs.tabs-custom {
  border-bottom: 2px solid var(--primary);
}
.tabs.tabs-custom .tab a.active,
.tabs.tabs-custom .tab a:focus.active,
.tabs.tabs-custom .tab a:focus,
.tabs.tabs-custom .tab a:hover {
  background-color: var(--primary);
  color: var(--white);
}
.tabs.tabs-custom .tab a {
  color: #000;
  text-overflow: initial;
  font-weight: bold;
  background-color: var(--neutral-one);
}
.tabs.tabs-custom .indicator {
  background-color: var(--primary);
  height: 3px;
}
